a, a em, a b, button, input[type="button"], input[type="submit"] {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #008868 ;
    color: inherit;
    text-decoration: none;
    line-height: inherit;
}
.text-black{
    color: #333333 !important;
}
.tbold{
    font-weight: 600;
}
a:hover, a:focus {
    color: #01a57c;
    text-decoration: none;
}
img {
    max-width: 100% !important;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    line-height: 1.4;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 18px;
}
h5,h6{
    font-size: 17px;
}

.img-full {
    width: 100%;
}

strong, b {
    font-weight:600;
}

.backtotop {
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;
    transition: .3s;
    cursor: pointer;
    background-color: rgba(35, 35, 35, 0.65);
    color: #FFFFFF;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    z-index: 9;
}
.backtotop i {
    color: #fff;
    font-size: 30px;
}
.supports {
    position: fixed;
    bottom: 60px;
    right: 15px;
    z-index: 99;
    transition: .3s;
}

.button-icon:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15), 0 4px 15px rgba(0, 0, 0, .13);
}

.button-icon {
    display: block;
    text-align: center;
    transition: box-shadow 150ms linear;
    animation: button_icon_animation 250ms 1.5s forwards;
    -webkit-animation: button_icon_animation 250ms 1.5s forwards;
    width: 44px;
    height: 44px;
    line-height: 44px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.messager-icon {
    background-repeat: no-repeat;
    background-position: top left;
}

.zalo-icon {
    background-repeat: no-repeat;
    background-position: top left;
}

.phone-icon {
    background-repeat: no-repeat;
    background-position: top left;
}

.email-icon {
    background-repeat: no-repeat;
    background-position: top left;
}

.popup_footer_support {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    background: #008868;
    color: #ffffff;
    border: 1px solid #eaeaea;
    font-size: 12px;
    display: none;
    z-index: 999;
}

.popup_footer_support_content {
    overflow: hidden;
    clear: both;
    box-shadow: 0 -5px 3px 0 rgba(0, 0, 0, 0.1);
}

.popup_support_item {
    width: 20%;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    padding-top: 3px;
    padding-bottom: 3px;
}

.popup_support_item a, .popup_support_item button {
    display: block;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 19px;
}

.popup_support_item a i {
    font-size: 20px;
    color: #ffffff;
}
.popup_support_item .popup_footer_content  i {
    color: #ff4500 ;
}
.popup_support_item a:hover i,
.popup_support_item a:focus i,
.popup_support_item a:hover,
.popup_support_item a:focus {
    color: #ff4500 ;
}

.popup_support_item a {
    color: #ffffff;
}

.support_footer .popup_support_item a span {
    line-height: 15px;
}

i.fot_icon.icon_fhome {
    background-position: -61px 0;
}

i.fot_icon.icon_fmenu {
    background-position: -181px 0;
}

i.fot_icon.icon_fphone {
    background-position: -123px -2px;
}

i.fot_icon.icon_fcg {
    background-position: -241px 0;
}

.popup_support_item a span {
    display: block;
    font-size: 12px;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.popup_footer_content.opent {
    background: rgba(0,0,0,0.8);
    position: absolute;
    bottom: 45px;
    width: 100%;
    padding: 20px;
    right: 0;
    z-index: 99;
}

.popup_footer_content .closer_popup_footer_suppor {
    background: #000;
    color: #fff;
    padding: 14px 0;
    display: block;
    border-radius: 6px;
    cursor: pointer;
}
.breadcrumbs {
    font-size: 14px;
    overflow: hidden;
    padding-top: 15px;
    color: #999999;
}

.breadcrumbs .bread-item {
    float: left;
    padding-right: 5px
}

.breadcrumbs div a {
    color: #999999;
}
.breadcrumbs .bread-item:last-child a{
    color: #000000;
}
.breadcrumbs .bread-item:last-child{
    color: #000000;
}
.breadcrumbs div:last-child::after {
    content: "";
    padding: 0;
}
.breadcrumbs div::after {
    content: "/";
    padding: 0 4px;
}

.margin-bottom-30{
    margin-bottom: 30px !important;
}
.margin-bottom-20{
    margin-bottom: 20px !important;;
}
.margin-bottom-10{
    margin-bottom: 10px !important;;
}
.margin-bottom-15{
    margin-bottom: 15px !important;
}
.section{
    padding: 30px 0;
}
.txt-primary{
    color:#507b35
}
p{
    margin-bottom: 10px;
}
.menu-footer{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-footer li{
    padding-bottom: 10px;
    position: relative;
    padding-left: 10px;
}
.menu-footer li::before{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0da";
    margin-right: 6px;
    color: #fff;
    position: absolute;
    top: 5px;
    left: 0;
}
.rating, .tag {
    display: inline-block;
    position: relative
}

.tag {
    padding: 5px 10px;
    background-color: rgba(255, 202, 0, .25);
    color: #ff5a27;
    margin-top: 10px;
    border-radius: 3px
}

.rating {
    font-family: FontAwesome;
    font-size: 16px
}

.rating.circle::after, .rating::after {
    color: #ffcd00;
    left: 0;
    position: absolute
}

.rating::before {
    color: #ffcd00
}

.rating.r-0::before {
    content: ""
}

.rating.r-05::after {
    content: " "
}

.rating.r-10::after {
    content: "\f005"
}

.rating.r-15::after {
    content: "\f005 "
}

.rating.r-20::after {
    content: "\f005\f005"
}

.rating.r-25::after {
    content: "   "
}

.rating.r-30::after {
    content: "\f005\f005\f005"
}

.rating.r-35::after {
    content: "    "
}

.rating.r-40::after {
    content: "\f005\f005\f005\f005"
}

.rating.r-45::after {
    content: "     "
}

.rating.r-50::after {
    content: "\f005\f005\f005\f005\f005"
}

.rating.circle::before {
    color: #ffcd00;
    content: ""
}

.rating.circle.r-0::before {
    content: ""
}

.rating.circle.r-05::after {
    content: " "
}

.rating.circle.r-10::after {
    content: "\f005"
}

.rating.circle.r-15::after {
    content: "  "
}

.rating.circle.r-20::after {
    content: "\f005\f005\f005"
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, button:focus, input:focus, select:focus, textarea:focus, div:focus, img:focus, .form-control:focus, a:focus, button:focus, i:focus {
    outline: none;
    box-shadow: none;
    text-decoration: none;
}
img{
    max-width: 100%;
}
#LoadingImage {
    background: url(../images/sending.gif) center center no-repeat
    rgba(0,0,0,.6);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}
.img-cover {
    font-family: "object-fit:cover";
    height: 100%;
    left: 50%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.margin-bottom-40{
    margin-bottom: 40px !important;
}
.margin-bottom-5{
    margin-bottom: 5px !important;
}
.ez-toc-container {
    background:
            #edf6ff;
    border: 1px solid
    #AAA;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px
    rgba(0,0,0,.05);
    display: table;
    padding: 10px 15px;
    position: relative;
    width: auto;
    margin: 0 auto 20px;
    font-size: 15px;
}
.ez-toc-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
}
.ez-toc-list {
    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: item;
}
.ez-toc-list li + li{
    margin-top: 4px;
}
.ez-toc-list li a::before {
    content: counters(item,".") ". ";
    counter-increment: item;
}
