



#over {

    display: none;

    background: #000;

    position: fixed;

    left: 0;

    top: 0;

    width: 100%;

    height: 100%;

    opacity: 0.8;

    z-index: 999;



}

a, a:visited, a:active{

    text-decoration:none;

}

.login

{

    background-color: #85B561;

    height: auto;

    width: 450px;

    font-family: Verdana, Arial, Helvetica, sans-serif;

    font-size: 14px;

    padding-bottom: 5px;

    display: none;

    overflow: hidden;

    position: fixed;

    z-index: 99999;

    top: 100px;

    left: 50%;

    /* margin-left: -300px; */

    transform: translate(-50%);

}



.login .login_title

{

    color:white;

    font-size:16px;

    padding:8px 0 5px 8px;

    text-align:left;

}



.login-content label {

    display: block;

    padding-bottom: 7px;

}



.login-content span {

    display: block;

}

.login-content

{

    padding-left:35px;

    background-color:white;

    margin-left:5px;

    margin-right:5px;

    height:auto;

    padding-top:15px;

    overflow:hidden;

}



.img-close {

    float: right;

    margin-top:-43px;

    margin-right:5px

}

.back-fix{

    background-color: #2d2d2d !important;

}

/*.button{*/

    /*display: inline-block;*/

    /*min-width: 46px;*/

    /*text-align: center;*/

    /*color: #444;*/

    /*font-size: 16px;*/

    /*height: 36px;*/

    /*padding: 0px 25px;*/

    /*line-height: 32px;*/

    /*border-radius: 4px;*/

    /*transition: all 0.218s ease 0s;*/

    /*border: 1px solid #DCDCDC;*/

    /*background-color: #eeeeee;*/

    /*background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);*/

    /*cursor: pointer;*/

/*}*/

/*.button:hover{*/

    /*border: 1px solid #DCDCDC;*/

    /*text-decoration: none;*/

    /*-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);*/

    /*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);*/

    /*box-shadow: 0 2px 2px rgba(0,0,0,0.1);*/

/*}*/

.login input

{

    border:1px solid #D5D5D5;

    border-radius:5px;

    box-shadow:1px 1px 5px rgba(0,0,0,.07) inset;

    color:black;

    font:12px/25px "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;

    height:28px;

    padding:0px 8px;

    word-spacing:0.1em;

    width: 91%;

    margin: 10px 0;

}

.submit-button{

    display: inline-block;

    padding: auto;

    margin: 15px 109px;

    width: 150px;

}





.gio-cua-ban{

    display: none;



    width: 80%;

    position: fixed;

    top: 50px;

    z-index: 999999;

    background: #fff;

    left: 50%;

    transform: translate(-50%);

    padding: 10px 15px;

}

.move{

    position: absolute !important;

    top: 3px !important;

    right: 3px !important;

}

.them-hang{

    /*border: 1px solid #B2A9AB !important;*/

    /*background-color: #fff;*/

}

/*.them-hang:hover{*/

    /*border: 1px solid #B2A9AB !important;*/

    /*background-color: #b1b1b1;*/

    /*color: white;*/

/*}*/

.table-responsive { 
  min-height: .01%; 
  overflow-x: auto;
      overflow-x: auto;
    max-height: 400px; }
.gio-cua-ban h2{
  font-family: UVNHongHaHep_R;
    font-size: 20px;
    margin: 0px 0px 10px;
}
.btn span{
  color: #fff;
}
.xoa-bo td button{
  background: none;
    border: none;
}
.xoa-bo td button span{
  color: #f00;
    padding: 5px;
}
a.btn.btn-warning {
    border-radius: 0px;
}
a.btn.btn-success {
    border-radius: 0px;
}
@media screen and (max-width: 767px) { 
  .table-responsive { 
    width: 100%; 
    margin-bottom: 15px;    
    max-height: 300px;
    overflow-y: auto; 
    -ms-overflow-style: 
    -ms-autohiding-scrollbar; 
    border: 1px solid #ddd; }
a.btn.btn-warning {
    width: 100%;
    border-radius: 0px;
    margin-bottom: 10px;
}
a.btn.btn-success {
    width: 100%;
    border-radius: 0px;
    margin-left: 0px !important;
}

  .table-responsive > .table { margin-bottom: 0; }

  .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > td, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > thead > tr > th { white-space: nowrap; }

  .table-responsive > .table-bordered { border: 0; }

  .table-responsive > .table-bordered > tbody > tr > td:first-child, .table-responsive > .table-bordered > tbody > tr > th:first-child, .table-responsive > .table-bordered > tfoot > tr > td:first-child, .table-responsive > .table-bordered > tfoot > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child, .table-responsive > .table-bordered > thead > tr > th:first-child { border-left: 0; }

  .table-responsive > .table-bordered > tbody > tr > td:last-child, .table-responsive > .table-bordered > tbody > tr > th:last-child, .table-responsive > .table-bordered > tfoot > tr > td:last-child, .table-responsive > .table-bordered > tfoot > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > td:last-child, .table-responsive > .table-bordered > thead > tr > th:last-child { border-right: 0; }

  .table-responsive > .table-bordered > tbody > tr:last-child > td, .table-responsive > .table-bordered > tbody > tr:last-child > th, .table-responsive > .table-bordered > tfoot > tr:last-child > td, .table-responsive > .table-bordered > tfoot > tr:last-child > th { border-bottom: 0; } }

 .table-responsive > .table-bordered tr th{
  text-align: center;
  text-transform: uppercase;
 }
 .xoa-bo td{
  text-align: center;
 }
 .close { 
    right: 10px;
    top: 10px;
    position: absolute;
 }
.close span{
      font-size: 20px;
    color: #f00;
}


.close:focus, .close:hover { color: #000; text-decoration: none; cursor: pointer; filter: alpha(opacity=50); opacity: .5; }



button.close { -webkit-appearance: none; padding: 0; cursor: pointer; background: 0 0; border: 0; }



.modal-open { overflow: hidden; }



.modal { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1050; display: none; overflow: hidden; -webkit-overflow-scrolling: touch; outline: 0; }



.modal.fade .modal-dialog { -webkit-transition: -webkit-transform .3s ease-out; -o-transition: -o-transform .3s ease-out; transition: transform .3s ease-out; -webkit-transform: translate(0, -25%); -ms-transform: translate(0, -25%); -o-transform: translate(0, -25%); transform: translate(0, -25%); }



.modal.in .modal-dialog { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); }



.modal-open .modal { overflow-x: hidden; overflow-y: auto; }



.modal-dialog { position: relative; width: auto; margin: 10px; }



.modal-content { position: relative; background-color: #fff; -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid #999; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px; outline: 0; -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); }



.modal-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1040; background-color: #000; }



.modal-backdrop.fade { filter: alpha(opacity=0); opacity: 0; }



.modal-backdrop.in { filter: alpha(opacity=50); opacity: .5; }



.modal-header { min-height: 16.43px; padding: 15px; border-bottom: 1px solid #e5e5e5; }



.modal-header .close { margin-top: -2px; }



.modal-title { margin: 0; line-height: 1.42857143; }



.modal-body { position: relative; padding: 15px; }



.modal-footer { padding: 15px; text-align: right; border-top: 1px solid #e5e5e5; }



.modal-footer .btn + .btn { margin-bottom: 0; margin-left: 5px; }



.modal-footer .btn-group .btn + .btn { margin-left: -1px; }



.modal-footer .btn-block + .btn-block { margin-left: 0; }



.modal-scrollbar-measure { position: absolute; top: -9999px; width: 50px; height: 50px; overflow: scroll; }



@media (min-width: 768px) { 
    .modal-dialog { width: 600px; margin: 30px auto; }

    .modal-content { -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

    .modal-sm { width: 300px; }
    .marsm35{
        margin-left: 35px;
    }
    .marrsm35{
        margin-right: 35px;
    }
    .parsm30{
        padding-right: 30px;
    }
    .parsm40{
        padding-right: 40px;
    }
}
.mm20{
        margin-bottom: 20px;
}

.content-car img{
    width: 56px;
    height: 56px !important;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 20px
}
.tit-pro-car{
    font-size: 17px;
    color: #333;
    font-weight: bold;
}
.tit-pro-car:hover{
    color: #86bb31;
}
.close-cart{
    color: #c1c1c1;
    padding-left: 10px;
}
.price-cart{
    line-height: 56px;
    margin-bottom: 0px;
    color: #333;
    font-style: italic;
    font-size: 15px;
}
.quanty{
    width: 80px;
    text-align: center;
    padding: 5px 0px;
    border: 1px solid #ccc;
}
.resposive-cart{
    max-height: 195px;
    overflow-y:scroll;
}

/* width */
.resposive-cart::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.resposive-cart::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.resposive-cart::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.resposive-cart::-webkit-scrollbar-thumb:hover {
    background: #555; 
}