@media only screen and (min-width: 1521px){
    #myModalM .modal-dialog {
        width: 1500px !important;
        margin: 30px auto;
    }
}
@media only screen and (min-width: 1200px){
    .col-md-20{
        width: 20%;
    }
    .col-md-80{
        width: 80%;
    }
    #myModalM .modal-dialog {
        width: 1000px;
        margin: 30px auto;
    }
}
@media (min-width: 992px) {

    .left-content{
        float: right;
        width: calc(100% - 260px);
        width: -o-calc(100% - 260px);
        width: -webkit-calc(100% - 260px);
        padding-left: 30px;
    }
    .right-content{
        float: left;
        width: 260px;
    }
}
@media (max-width: 991px) {
    .site-mobile-menu-body .form-search{
        width: 200px;
    }
    #header-search .search_toggle{
        display: none;
    }
    #frm-header-search{

    }
    .h3-similar{
        text-align: center;
    }
    .left-content{
        margin-bottom: 30px;
    }
    .owl-small.owl-theme .owl-prev{
        left: 10px;
    }
    .owl-small.owl-theme .owl-next{
        right: 10px;
    }
    #frm-header-search {
        right: 0;
        width: 100%;
        display: none;
        position: absolute;
        top: 100%;
        z-index: 99;
    }
    .search_toggle i{
        font-size: 20px;
    }
    .search_button{
        display: block;
        cursor: pointer;
        padding: 21px 0;
    }

    .site-navigation{
        text-align: left;
    }
    #header-nav{
        order: 1;
    }
    #header-logo{
        order: 2;
    }
    #header-search{
        order: 3;
        text-align: right;
    }

    #header-logo{
        text-align: center;
    }

    .slant-1{
        height: 1px;
    }
    .supports{
        display: none;
    }
    .popup_footer_support{
        display: block;
    }
    #callnow{
        display: none;
    }
}

@media (max-width: 767px) {
    .flex-cart .title p{
        margin-bottom: 10px;
    }
    .search_toggle{
        width: 100%;
    }
    .visible-xs{
        display: block;
    }
    .hidden-xs{
        display: none !important;
    }
    .table-cart tbody, .table-cart tr, .table-cart td {
        display: block;
        padding: 0;
    }

    .table-cart tr {
        position: relative;
        padding: 10px;
        border: solid 1px #e1e1e1;
        margin-bottom: 10px;
    }

    .table-cart thead {
        display: none;
    }

    .table-cart tr td {
        display: inline-block;
        vertical-align: middle;
        border: none;
        padding: 0;
    }

    .table-cart tr td:last-child {
        margin-right: 0;
    }

    .table-cart tr td:first-child {
        display: block;
        padding-bottom: 10px;
    }
    #type-mb{
        display: block;
    }
    #type-pc{
        display: none;
    }
    .site-blocks-cover.inner-page, .site-blocks-cover.inner-page .row {
        min-height: 400px;
        height: calc(60vh)
    }
    .h3-service{
        font-size: 14px;
        margin: 0;
        font-weight: 400;
    }
    .add-shopcart{
        padding: 2px 12px;
    }
    .row-m-5{
        margin-right: -5px;
        margin-left: -5px;
    }
    .row-m-5 div[class*='col-']{
        padding-left: 5px;
        padding-right: 5px;
    }
    .full-screen{
        margin-left: -15px;
        margin-right: -15px;
    }
    .left-about{
        padding: 15px 15px;
    }
    .site-blocks-cover h3{
        font-size: 28px;
    }
    .add-shopcart-detail{
        text-align: center;
    }
    #chontype{
        width: 100%;
        margin-top: 10px;
    }
    .form-book{
        text-align: center;
    }
    #kieuMoc{
        text-align: left;
    }
    .left-news-list{
        margin-bottom: 15px;
    }
    .col-footer{
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #848383;
    }
    #product-similar.owl-theme .owl-prev{
        left: 5px;
    }
    #product-similar.owl-theme .owl-next{
        right: 5px;
    }
    .copyright{
        padding-top: 0;
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .table-cart .title{
        margin-left: 0;
    }
    .btn-checkout{
        font-size: 14px;
    }
    .table-cart .img{
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }
    .flex-cart{
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }
    .site-section-heading{
        font-size: 25px;
    }

    .owl-small.owl-carousel .owl-item img{
        height: 200px;
    }
    .owl-small.owl-theme .owl-next, .owl-small.owl-theme .owl-prev{
        top: 100px
    }
    .h3-cat{
        font-size: 16px;
    }
    .cat-by-type{
        margin-left: -5px;
        margin-right: -5px;
    }
    .cat-by-type div[class*="col-"]{
        padding-right: 5px;
        padding-left: 5px;
    }
    .box-service img{
        width: 70px;
    }
    .item-service{
        text-align: center;
    }
    .item-service img{
        margin-bottom: 20px;
    }

}
