/* Base */
body {
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    font-family: "Work Sans", sans-serif !important;
    background: #f4f4f4;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

::selection {
    background: #000;
    color: #fff;
}


a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover {
    text-decoration: none;
}

.bg-black {
    background: #000 !important;
}

.font-secondary {
    font-family: "Oswald", arial, sans-serif;
}

.line-height-sm {
    line-height: 1.3;
}

.line-height-xs {
    line-height: 1;
}

.form-control {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.btn.btn-primary:hover {
    border-color: #ef080e;
}

.site-wrap {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
}

.site-wrap:before {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}

.offcanvas-menu .site-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}

.offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible;
}

.bg-black {
    background: #000;
}


.form-control:active, .form-control:focus {
    border-color: #008868;
}

.form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.site-section {
    padding: 40px 0;
}

.site-section-heading {
    font-size: 30px;
    position: relative;
    padding-bottom: 10px;
    font-weight: 400;
    font-family: Oswald, sans-serif;
}
.site-section-heading small{
    display: block;
    font-size: 18px;
    letter-spacing: .1em;
    margin-bottom: 10px;
    color: #666666;
}
.site-section-heading:before {
    content: "";
    left: 0%;
    bottom: 0;
    position: absolute;
    width: 50px;
    height: 2px;
    background: #008868;
}

.site-section-heading.text-center:before {
    content: "";
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 40px;
    height: 2px;
    background: #008868;
}

.site-footer {
    padding: 4em 0;
    background: #1e1e1c;
    color: rgba(255, 255, 255, 0.8);
}

.site-footer .footer-heading {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .1em;
    color:#fff;
    margin-bottom: 20px;
}

.site-footer a {
    color: rgba(255, 255, 255, 0.8);
}

.site-footer a:hover {
    color: #fff;
}

.site-footer ul li + li{
    margin-top: 10px;
}

.bg-text-line {
    display: inline;
    background: #000;
    -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
    box-shadow: 20px 0 0 #000, -20px 0 0 #000;
}

.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center center;
}

.bg-image.center {
    background-position: top center;
}


.bg-image.overlay, .bg-image.overlay-primary, .bg-image.overlay-info, .bg-image.overlay-success, .bg-image.overlay-warning {
    position: relative;
}

.bg-image.overlay:before, .bg-image.overlay-primary:before, .bg-image.overlay-info:before, .bg-image.overlay-success:before, .bg-image.overlay-warning:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.bg-image.overlay:before {
    background: rgba(0, 0, 0, 0.4);
}

.bg-image.overlay-primary:before {
    background: rgba(113, 188, 66, 0.9);
}

.bg-image.overlay-info:before {
    background: rgba(23, 162, 184, 0.9);
}

.bg-image.overlay-success:before {
    background: rgba(113, 188, 66, 0.9);
}

.bg-image.overlay-success:before {
    background: rgba(255, 193, 7, 0.9);
}

@media (max-width: 767.98px) {
    .display-3, .display-2, .display-4 {
        font-size: 3rem !important;
    }
}

@media (max-width: 991.98px) {
    .bg-md-height {
        height: 300px;
    }
}

@media (max-width: 767.98px) {
    .bg-sm-height {
        height: 300px;
    }
}

/* Navbar */
.site-navbar-wrap {
    position: relative;
    z-index: 99;
    padding: 0px 0;
    width: 100%;
    left: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.5s ease 0s;
    -moz-transition: 0.5s ease 0s;
    -ms-transition: 0.5s ease 0s;
    -o-transition: 0.5s ease 0s;
    transition: 0.5s ease 0s;
}
.js-site-navbar.scrolled .site-navbar .site-navigation .site-menu > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.js-site-navbar.scrolled{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}
.site-navbar-top {
    display: none;
    font-size: 0.8rem;
    background: #5a9635;
}

.site-navbar-top a {
    color: #fff;
}

.site-navbar-top .text-with-icon {
    color: rgba(255, 255, 255, 0.5);
}

.site-navbar-top, .site-navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.site-navbar {
    margin-bottom: 0px;
    width: 100%;
    border-bottom: none;
    background: #fff !important;
}

.site-navbar .site-logo {
    font-weight: 200;
}

.site-navbar .site-logo a {
    font-weight: 200;
    font-size: 26px;
    color: #000;
}

.site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active > a {
    color: #008868 !important;
}

.site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    font-size: 15px;
    display: inline-block;
}

.site-navbar .site-navigation .site-menu > li {
    display: inline-block;
    padding: 10px 10px;
}

.site-navbar .site-navigation .site-menu > li > a {
    padding: 15px 2px;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: rgba(0, 0, 0, 0.8);
    font-size: 17px;
    text-decoration: none !important;
    -webkit-transition: 0.5s ease 0s;
    -moz-transition: 0.5s ease 0s;
    -ms-transition: 0.5s ease 0s;
    -o-transition: 0.5s ease 0s;
    transition: 0.5s ease 0s;
}

.site-navbar .site-navigation .site-menu > li:last-child {
    padding-right: 0;
}

.site-navbar .site-navigation .site-menu > li:last-child > a {
    padding-right: 0;
}

.site-navbar .site-navigation .site-menu .has-children {
    position: relative;
}

.site-navbar .site-navigation .site-menu .has-children > a {
    position: relative;
    padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children > a:before {
    position: absolute;
    content: "\f107";
    font-size: 16px;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: FontAwesome, sans-serif;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    border-radius: 7px;
    position: absolute;
    text-align: left;
    -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
    padding: 10px 0;
    margin-top: 20px;
    margin-left: 0px;
    background: #000;
    -webkit-transition: 0.2s 0s;
    -o-transition: 0.2s 0s;
    transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
    position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    bottom: 100%;
    left: 15%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #000;
    border-width: 7px;
    margin-left: -7px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
    text-transform: none;
    letter-spacing: normal;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
    transition: 0s all;
    color: #343a40;
    color: #fff;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
    color: #008868 !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
    padding: 5px 20px;
    display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
    color: #008868;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
    content: "\e315";
    right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
    left: 100%;
    top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
    color: #008868;
}

.site-navbar .site-navigation .site-menu .has-children a {
    text-transform: uppercase;
}

.site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
    color: #000;
}

.site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
    cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 0px;
    visibility: visible;
    opacity: 1;
}

.site-mobile-menu {
    width: 260px;
    position: fixed;
    left: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(-110%);
    -ms-transform: translateX(-110%);
    transform: translateX(-110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.icon-close2 {
    font-size: 20px;
    color: red;
    font-weight: 300;
    display: inline-block;
    padding-top: 10px;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
    float: left;
    margin-top: 10px;
    margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
    display: inline-block;
    text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
    max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
    text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.site-mobile-menu .site-nav-wrap a {
    padding: 5px 20px;
    display: block;
    position: relative;
    color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
    color: #008868;
}

.site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block;
}

.site-mobile-menu .site-nav-wrap li.active > a {
    color: #008868;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 20;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
    background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
    font-size: 12px;
    z-index: 20;
    font-family: FontAwesome, sans-serif;
    content: "\f107";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
    -ms-transform: translate(-50%, -50%) rotate(-180deg);
    transform: translate(-50%, -50%) rotate(-180deg);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap > li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}

.site-mobile-menu .site-nav-wrap > li > a {
    font-size: 20px;
    padding-left: 0 !important;
}

.site-mobile-menu .site-nav-wrap > li > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-mobile-menu .site-nav-wrap > li > ul > li {
    display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
    padding-left: 20px;
    font-size: 16px;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
    padding: 0;
    margin: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
    display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
    font-size: 16px;
    padding-left: 60px;
}

/* Blocks */
.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.site-blocks-cover.overlay {
    position: relative;
}

.site-blocks-cover, .site-blocks-cover .row {
    min-height: 400px;
    height: calc(80vh);
}
.site-blocks-cover.inner-page, .site-blocks-cover.inner-page .row {
    min-height: 400px;
    height: calc(70vh)
}
.slide-inner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 70px 0;
    text-align: center;
}
.site-blocks-cover .sub-text {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: .2em;
}
.h1-title{
    position: relative;
    z-index: 9;
}
.h1-title,
.site-blocks-cover h3 {
    font-weight: 700;
    color: #fff;
    font-size: 40px;
}
.overlay::before,
.site-blocks-cover.overlay::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
}
.site-blocks-cover p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5;
}

.site-blocks-cover a {
    color: rgba(255, 255, 255, 0.4);
    display: inline-block;
    border-bottom: 1px dotted white !important;
}

.site-blocks-cover a:hover {
    color: #fff;
}

.site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5;
}

.caption {
    font-size: 16px;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.site-heading {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2rem;
}

@media (min-width: 768px) {
    .site-heading {
        font-size: 3rem;
    }
}

.site-heading strong {
    font-weight: 900;
}

.site-block-1 {
    padding-top: 50px;
}

@media (min-width: 992px) {
    .site-block-1 {
        padding-top: 0;
        position: absolute;
        width: 100%;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.site-block-appointment {
    background: #ece8d9 !important;
}

.site-block-appointment form {
    -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
}

.text-white-opacity-5 {
    color: rgba(255, 255, 255, 0.5);
}

.text-black-opacity-5 {
    color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 767.98px) {
    .site-block-feature .d-block {
        border-bottom: none !important;
    }
}

.site-block-feature .item {
    width: 50%;
}

@media (max-width: 767.98px) {
    .site-block-feature .item {
        width: 100%;
        border-right: none !important;
        border-bottom: none !important;
    }
}

.site-block-feature-2 .icon {
    font-size: 50px;
    position: relative;
    line-height: 1;
}

.site-block-feature-2 h3 {
    font-size: 1.5rem;
}

.site-block-3 .row-items {
    height: calc(50% - 15px);
    margin-bottom: 30px;
}

.site-block-3 .row-items.last {
    height: calc(50% - 15px);
    margin-bottom: 0;
}

.site-block-3 .feature {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    height: 100%;
}

.site-block-3 .feature h3 {
    color: #000;
    font-size: 1.4rem;
}

.site-block-3 .feature:hover, .site-block-3 .feature:active, .site-block-3 .feature:focus, .site-block-3 .feature.active {
    -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
}

.site-block-half .image, .site-block-half .text {
    width: 100%;
}

@media (min-width: 992px) {
    .site-block-half .image, .site-block-half .text {
        width: 50%;
    }
}

@media (max-width: 991.98px) {
    .site-block-half .image {
        margin-bottom: 50px;
    }
}

.site-block-half .text {
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 992px) {
    .site-block-half .text {
        padding: 4rem;
    }
}

@media (min-width: 1200px) {
    .site-block-half .text {
        padding: 8rem;
    }
}

.site-block-half .bg-image {
    background-position: center center;
}

@media (max-width: 991.98px) {
    .site-block-half .bg-image {
        height: 400px;
    }
}

.site-block-half.site-block-video .image {
    position: relative;
}

.site-block-half.site-block-video .image .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 70px;
    height: 70px;
    background: #fff;
    display: block;
    border-radius: 50%;
    opacity: 1;
    color: #008868 !important;
}

.site-block-half.site-block-video .image .play-button:hover {
    opacity: 1;
}

.site-block-half.site-block-video .image .play-button > span {
    position: absolute;
    left: 55%;
    top: 50%;
    -webkit-transform: translate(-60%, -50%);
    -ms-transform: translate(-60%, -50%);
    transform: translate(-60%, -50%);
}

.post-entry {
    position: relative;
    overflow: hidden;
    border: 1px solid #e6e6e6;
}

.post-entry, .post-entry .text {
    border-radius: 4px;
    border-top: none !important;
}

.post-entry .date {
    color: #a6a6a6;
    font-weight: normal;
    letter-spacing: .1em;
}

.post-entry .image {
    overflow: hidden;
    position: relative;
}

.post-entry .image img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.post-entry:hover .image img, .post-entry:active .image img, .post-entry:focus .image img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.block-13, .block-14, .block-15, .slide-one-item {
    position: relative;
    z-index: 1;
}

.block-13 .owl-nav, .block-14 .owl-nav, .block-15 .owl-nav, .slide-one-item .owl-nav {
    position: relative;
    position: absolute;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.block-13 .owl-nav .owl-prev, .block-13 .owl-nav .owl-next, .block-14 .owl-nav .owl-prev, .block-14 .owl-nav .owl-next, .block-15 .owl-nav .owl-prev, .block-15 .owl-nav .owl-next, .slide-one-item .owl-nav .owl-prev, .slide-one-item .owl-nav .owl-next {
    position: relative;
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    color: #000;
}

.block-13 .owl-nav .owl-prev.disabled, .block-13 .owl-nav .owl-next.disabled, .block-14 .owl-nav .owl-prev.disabled, .block-14 .owl-nav .owl-next.disabled, .block-15 .owl-nav .owl-prev.disabled, .block-15 .owl-nav .owl-next.disabled, .slide-one-item .owl-nav .owl-prev.disabled, .slide-one-item .owl-nav .owl-next.disabled {
    opacity: .2;
}

.block-13.nav-direction-white .owl-prev, .block-13.nav-direction-white .owl-next, .block-14.nav-direction-white .owl-prev, .block-14.nav-direction-white .owl-next, .block-15.nav-direction-white .owl-prev, .block-15.nav-direction-white .owl-next, .slide-one-item.nav-direction-white .owl-prev, .slide-one-item.nav-direction-white .owl-next {
    background: #fff;
    padding: 5px 10px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.block-13.nav-direction-white .owl-prev:hover, .block-13.nav-direction-white .owl-next:hover, .block-14.nav-direction-white .owl-prev:hover, .block-14.nav-direction-white .owl-next:hover, .block-15.nav-direction-white .owl-prev:hover, .block-15.nav-direction-white .owl-next:hover, .slide-one-item.nav-direction-white .owl-prev:hover, .slide-one-item.nav-direction-white .owl-next:hover {
    -webkit-box-shadow: 5px 5px 30px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 30px -5px rgba(0, 0, 0, 0.1);
}

.block-13 .owl-stage-outer, .block-14 .owl-stage-outer, .block-15 .owl-stage-outer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.block-13 .owl-nav, .block-14 .owl-nav, .block-15 .owl-nav {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 0;
    bottom: auto !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    .block-13 .owl-nav, .block-14 .owl-nav, .block-15 .owl-nav {
        display: none;
    }
}

.block-13 .owl-nav .owl-prev, .block-13 .owl-nav .owl-next, .block-14 .owl-nav .owl-prev, .block-14 .owl-nav .owl-next, .block-15 .owl-nav .owl-prev, .block-15 .owl-nav .owl-next {
    position: absolute;
    top: 0;
}

.block-13 .owl-nav .owl-prev:hover, .block-13 .owl-nav .owl-next:hover, .block-14 .owl-nav .owl-prev:hover, .block-14 .owl-nav .owl-next:hover, .block-15 .owl-nav .owl-prev:hover, .block-15 .owl-nav .owl-next:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: #008868;
    color: #fff;
}

.block-13 .owl-nav .owl-prev, .block-14 .owl-nav .owl-prev, .block-15 .owl-nav .owl-prev {
    left: -20px;
}

.block-13 .owl-nav .owl-next, .block-14 .owl-nav .owl-next, .block-15 .owl-nav .owl-next {
    right: -20px;
}

.block-13 .owl-dots, .block-14 .owl-dots, .block-15 .owl-dots {
    text-align: center;
}

.block-13 .owl-dots .owl-dot, .block-14 .owl-dots .owl-dot, .block-15 .owl-dots .owl-dot {
    display: inline-block;
    margin: 5px;
}

.block-13 .owl-dots .owl-dot > span, .block-14 .owl-dots .owl-dot > span, .block-15 .owl-dots .owl-dot > span {
    line-height: 0;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: none;
    float: left;
    background: #cccccc;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.block-13 .owl-dots .owl-dot.active > span, .block-14 .owl-dots .owl-dot.active > span, .block-15 .owl-dots .owl-dot.active > span {
    background: #008868;
}

.play-button {
    position: relative;
}

.play-button .play-button-icon-wrap {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    text-align: center;
    top: 50%;
    left: 50%;
    line-height: 50px;
    background: white;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.play-button .play-button-icon-wrap span {
    color: #000;
    margin-left: 5px;
}

@media (max-width: 991.98px) {
    .border-responsive .border-right {
        border-right: none !important;
    }
}

.slide-one-item.home-slider .owl-nav {
    position: absolute !important;
    top: 50% !important;
    bottom: auto !important;
    width: 100%;
}

.owl-small.owl-theme  .owl-prev{
    left: 0;
}
.slide-one-item.home-slider .owl-prev {
    left: 10px !important;
}

.owl-small.owl-theme  .owl-next{
    right: 0;
}
.slide-one-item.home-slider .owl-next {
    right: 10px !important;
}

.owl-small.owl-theme .owl-prev, .owl-small.owl-theme  .owl-next,
.slide-one-item.home-slider .owl-prev, .slide-one-item.home-slider .owl-next {
    color: #fff;
    position: absolute !important;
    top: 50%;
    padding: 0px;
    height: 50px;
    width: 50px;
    border-radius: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    line-height: 0;
    text-align: center;
    font-size: 25px;
}

@media (min-width: 768px) {
    .slide-one-item.home-slider .owl-prev, .slide-one-item.home-slider .owl-next {
        font-size: 25px;
    }
}

.owl-small.owl-theme .owl-prev > span, .owl-small.owl-theme .owl-next > span,
.slide-one-item.home-slider .owl-prev > span, .slide-one-item.home-slider .owl-next > span {
    position: absolute;
    line-height: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slide-one-item.home-slider:hover .owl-nav, .slide-one-item.home-slider:focus .owl-nav, .slide-one-item.home-slider:active .owl-nav {
    opacity: 10;
    visibility: visible;
}

.block-12 {
    position: relative;
}

.block-12 figure {
    position: relative;
}

.block-12 figure:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}

.block-12 .text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 10;
}

.block-12 .text-overlay h2 {
    color: #fff;
}

.block-12 .text {
    position: relative;
    top: -100px;
}

.block-12 .text .meta {
    text-transform: uppercase;
    padding-left: 40px;
    color: #fff;
    display: block;
    margin-bottom: 20px;
}

.block-12 .text .text-inner {
    -webkit-box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 10px;
    margin-right: 30px;
    position: relative;
}

@media (min-width: 576px) {
    .block-12 .text .text-inner {
        padding: 20px;
    }
}

@media (min-width: 768px) {
    .block-12 .text .text-inner {
        padding: 30px 40px;
    }
}

.block-12 .text .text-inner:before {
    position: absolute;
    content: "";
    width: 80px;
    height: 4px;
    margin-top: -4px;
    background: #008868;
    top: 0;
}

.block-12 .text .text-inner .heading {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.block-16 figure {
    position: relative;
}

.block-16 figure .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 20px;
    width: 70px;
    height: 70px;
    background: #fff;
    display: block;
    border-radius: 50%;
    opacity: 1;
    color: #008868 !important;
}

.block-16 figure .play-button:hover {
    opacity: 1;
}

.block-16 figure .play-button > span {
    position: absolute;
    left: 55%;
    top: 50%;
    -webkit-transform: translate(-60%, -50%);
    -ms-transform: translate(-60%, -50%);
    transform: translate(-60%, -50%);
}

.block-25 ul, .block-25 ul li {
    padding: 0;
    margin: 0;
}

.block-25 ul li .date {
    color: rgba(255, 255, 255, 0.25);
    font-size: 0.8rem;
    display: block;
}

.block-25 ul li a .image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
}

.block-25 ul li a .image img {
    border-radius: 4px;
    max-width: 100%;
    opacity: 1;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.block-25 ul li a .text .heading {
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #999999;
}

.block-25 ul li a .meta {
    color: #008868;
}

.block-25 ul li a:hover img {
    opacity: .5;
}

.block-25 ul li a:hover .text .heading {
    color: #fff;
}

#date-countdown .countdown-block {
    color: rgba(255, 255, 255, 0.4);
}

#date-countdown .label {
    font-size: 40px;
    color: #fff;
}

.next-match .image {
    width: 50px;
    border-radius: 50%;
}

.player {
    position: relative;
}

.player img {
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.player .team-number {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #008868;
    border-radius: 50%;
    color: #fff;
}

.player .team-number > span {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.player h2 {
    font-size: 20px;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.player .position {
    font-size: 14px;
    color: #b3b3b3;
    text-transform: uppercase;
}

.site-block-27 ul, .site-block-27 ul li {
    padding: 0;
    margin: 0;
}

.site-block-27 ul li {
    display: inline-block;
    margin-bottom: 4px;
}

.site-block-27 ul li a, .site-block-27 ul li span {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.site-block-27 ul li.active a, .site-block-27 ul li.active span {
    background: #008868;
    color: #fff;
    border: 1px solid transparent;
}

.block-47 .block-47-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    display: block;
}

.block-47 .block-47-image img {
    border: 5px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
}

.block-47 .block-47-quote {
    padding: 30px;
    font-weight: 300;
    background: #fff;
    border-radius: 7px;
    position: relative;
    -webkit-box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .block-47 .block-47-quote {
        margin-left: 40px;
        font-size: 1.2rem;
    }
}

.block-47 .block-47-quote:before {
    content: "";
    border: 1px solid red;
    z-index: 2;
    position: absolute;
    left: -15px;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
}

.block-47 .block-47-quote .block-47-quote-author {
    font-size: 14px;
    color: #666666;
}

.site-block-check {
    padding: 0;
    margin: 0 0 30px 0;
}

.site-block-check li {
    padding: 0;
    margin: 0;
}

.site-block-check li {
    display: block;
    padding-left: 30px;
    position: relative;
    margin-bottom: 10px;
}

.site-block-check li:before {
    position: absolute;
    color: #008868;
    left: 0;
    top: -.3rem;
    font-family: 'icomoon';
    font-size: 1.1rem;
    content: "\e5ca";
}

.half-sm .text, .half-sm .text h2, .half-sm .text small {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.half-sm .text a small {
    border-bottom: 2px solid transparent;
}

.half-sm:hover .text, .half-sm:focus .text {
    background: #008868 !important;
    color: #fff;
}

.half-sm:hover .text h2, .half-sm:focus .text h2 {
    color: #fff !important;
}

.half-sm:hover .text a small, .half-sm:focus .text a small {
    color: #fff !important;
    border-bottom: 2px solid #fff;
}

.block-37 {
    border-radius: 4px;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 200px;
}

.block-37 .image {
    height: 100%;
    background-color: black;
    /* fallback color */
    background-position: center;
    background-size: cover;
    position: relative;
    -webkit-transition: .8s all ease;
    -o-transition: .8s all ease;
    transition: .8s all ease;
}

.block-37 .image:before {
    content: "";
    visibility: hidden;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    top: 0;
    left: 0;
    background-color: #008868;
}

.block-37 .image .block-37-overlay {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 10px;
}

.block-37 .image .block-37-overlay .icon {
    font-size: 30px;
    color: #fff;
}

.block-37:hover .block-37-overlay, .block-37:focus .block-37-overlay {
    opacity: 1;
    visibility: visible;
    margin-top: 0px;
}

.block-37:hover .image, .block-37:focus .image {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.block-37:hover .image:before, .block-37:focus .image:before {
    opacity: .7;
    visibility: visible;
}

.block-feature h2, .block-feature .heading, .heading-with-border h2, .heading-with-border .heading {
    text-transform: uppercase;
    font-size: 1.1rem;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.block-feature h2:after, .block-feature .heading:after, .heading-with-border h2:after, .heading-with-border .heading:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    bottom: 0;
    background: #008868;
    left: 0;
}

.block-feature.text-center h2:after, .block-feature.text-center .heading:after, .heading-with-border.text-center h2:after, .heading-with-border.text-center .heading:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.block-media-1 {
    position: relative;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.block-media-1:hover, .block-media-1:focus, .block-media-1:active {
    -webkit-box-shadow: 5px 0px 40px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 5px 0px 40px 0 rgba(0, 0, 0, 0.15);
}

.block-testimony .person {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
}

.block-testimony blockquote {
    font-size: 1.5rem;
    font-style: italic;
}

@media (max-width: 991.98px) {
    .block-testimony blockquote {
        font-size: 1rem;
    }
}

.img-border, .img-border-sm {
    position: relative;
}

.img-border img, .img-border-sm img {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}

.img-border:before, .img-border-sm:before {
    position: absolute;
    content: "";
    height: 97%;
    width: 97%;
    background: #ffc107;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.img-border:hover:before, .img-border:active:before, .img-border:focus:before, .img-border-sm:hover:before, .img-border-sm:active:before, .img-border-sm:focus:before {
    right: -30px;
    bottom: -30px;
    opacity: 1;
    visibility: visible;
}

.img-border:hover img, .img-border:active img, .img-border:focus img, .img-border-sm:hover img, .img-border-sm:active img, .img-border-sm:focus img {
    top: -5px;
    left: -5px;
}

.img-border-sm:hover:before, .img-border-sm:active:before, .img-border-sm:focus:before {
    right: -10px;
    bottom: -10px;
    opacity: 1;
    visibility: visible;
}

.img-border-sm:hover img, .img-border-sm:active img, .img-border-sm:focus img {
    top: -5px;
    left: -5px;
}

.media-with-text .heading {
    font-size: 20px;
}

.quick-contact-info {
    background: #5c7893;
    color: rgba(255, 255, 255, 0.5);
}

.quick-contact-info h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .2em;
}

.latest-sermons h2 {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .2em;
}

.image-play {
    position: relative;
}

.image-play .icon-wrap {
    z-index: 6;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
}

.image-play .icon-wrap > span {
    font-size: 40px;
    color: #000;
    position: absolute;
    -webkit-transform: translate(-35%, -50%);
    -ms-transform: translate(-35%, -50%);
    transform: translate(-35%, -50%);
    top: 50%;
    left: 50%;
}

.post-date {
    color: rgba(0, 0, 0, 0.4);
}

.section-heading h2 {
    position: relative;
    display: inline-block;
}

.section-heading h2:before, .section-heading h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background: #ffc107;
    left: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.section-heading h2:before {
    width: 100px;
    bottom: -10px;
    left: 50%;
}

.section-heading h2:after {
    width: 80px;
    bottom: -20px;
    left: 50%;
}

.section-heading.text-left h2:before, .section-heading.text-left h2:after {
    left: 0;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.unit-8 .accordion-item .heading {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 10px 0;
}

.unit-8 .accordion-item .heading > a {
    padding-left: 35px;
    position: relative;
    color: #000;
}

.unit-8 .accordion-item .heading > a:before {
    width: 20px;
    height: 20px;
    line-height: 18px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 18px;
    top: .1em;
    left: 0;
}

.unit-8 .accordion-item .heading > a[aria-expanded="true"]:before {
    font-family: 'icomoon';
    position: absolute;
    content: "\e316";
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    background: #008868;
    color: #fff;
    border: 1px solid #008868;
}

.unit-8 .accordion-item .heading > a[aria-expanded="false"]:before {
    content: "\e313";
    color: #ccc;
    font-family: 'icomoon';
    position: absolute;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.unit-8 .accordion-item .body-text {
    padding: 5px 0;
    padding-left: 30px;
}

.site-narrow {
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.2);
}

.media-image {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.media-image .media-image-body {
    padding: 20px;
    padding-bottom: 0;
}

.media-image h2 {
    font-size: 1.2rem;
}

.media-image:hover {
    -webkit-box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 40px -5px rgba(0, 0, 0, 0.1);
}

.text-with-icon {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: relative;
    top: 0;
}

.text-with-icon .icon {
    position: relative;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.text-with-icon:hover {
    -webkit-box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.1);
    top: -10px;
}

.text-with-icon:hover .icon {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.site-half {
    position: relative;
}

.site-half .img-bg-1 {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    width: 50%;
    height: 100%;
}

@media (max-width: 991.98px) {
    .site-half .img-bg-1 {
        position: relative;
        height: 300px;
        width: 100%;
    }
}

.site-half .img-bg-1.right {
    right: 0;
}

.btn-bg-primary {
    color: #fff;
    border-color: #fff;
    padding: 10px 30px;
    border-radius: 0;
    border-width: 2px;
}

.btn-bg-primary:hover {
    color: #008868;
    background: #fff !important;
}

.custom-pagination span, .custom-pagination a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.custom-pagination .current {
    background: #e6e6e6;
    border-radius: 50%;
    font-weight: bold;
}

.custom-pagination a {
    border-radius: 50%;
    background-color: transparent;
}

.custom-pagination a:hover {
    background: #008868;
    color: #fff;
}

.slant-1 {
    height: 120px;
    position: relative;
    z-index: 4;
    border: 1px solid red;
}

.slant-1:before {
    position: absolute;
    width: 200%;
    content: "";
    background: #fff;
    top: -110px;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(-5deg) translateX(-20%);
    -ms-transform: rotate(-5deg) translateX(-20%);
    transform: rotate(-5deg) translateX(-20%);
}

.first-section {
    position: relative;
    z-index: 5;
    margin-top: -150px;
}

@media (max-width: 991.98px) {
    .first-section {
        margin-top: -50px;
    }
}

.counter .caption {
    display: block;
}

.counter .number {
    font-family: "Oswald", arial, sans-serif;
    font-size:50px;
    color: #008868;
}

.footer-subscribe .form-control {
    background: transparent;
    border-color: #fff;
    color: #fff;
}

.footer-subscribe .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
}

.footer-subscribe .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
}

.footer-subscribe .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
}

.footer-subscribe .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
}

.footer-subscribe .form-control:focus {
    border-color: #008868;
}

.footer-subscribe .btn {
    position: relative;
    margin-left: -1px;
    color: #fff;
}

/* Blog */
.sidebar-box {
    margin-bottom: 30px;
    background: #fff;
}

.sidebar-box *:last-child {
    margin-bottom: 0;
}

.sidebar-box h3 {
    font-size: 16px;
    margin-bottom: 15px;
    background: #008868;
    color: #ffffff;
    padding: 10px 10px;
}

.categories li, .sidelink li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #dee2e6;
    list-style: none;
}

.categories li:last-child, .sidelink li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}

.categories li a, .sidelink li a {
    display: block;
}

.categories li a span, .sidelink li a span {
    position: absolute;
    right: 0;
    top: 0;
    color: #e45456;
}

.categories li.active a, .sidelink li.active a {
    color: #000;
    font-style: italic;
}

.comment-form-wrap {
    clear: both;
}

.comment-list {
    padding: 0;
    margin: 0;
}

.comment-list .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%;
}

.comment-list li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none;
}

.comment-list li .vcard {
    width: 80px;
    float: left;
}

.comment-list li .vcard img {
    width: 50px;
    border-radius: 50%;
}

.comment-list li .comment-body {
    float: right;
    width: calc(100% - 80px);
}

.comment-list li .comment-body h3 {
    font-size: 20px;
}

.comment-list li .comment-body .meta {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .1em;
    color: #ccc;
}

.comment-list li .comment-body .reply {
    padding: 5px 10px;
    background: #e6e6e6;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
}

.comment-list li .comment-body .reply:hover {
    color: #000;
    background: #e3e3e3;
}

.search-form {
    background: #f7f7f7;
    padding: 10px;

}

.search-form .form-group {
    position: relative;
}

.search-form .form-group input {
    padding-right: 50px;
    font-size: 14px;
}

.search-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #e45456
}

.post-meta {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.post-meta a {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.circle-icon-wrap {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #008868;
    display: inline-block;
    position: relative;
}

.circle-icon-wrap > span {
    display: inline-block;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*PRELOADING------------ */
#overlayer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 7100;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loader {
    z-index: 7700;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.h2-cat {
    margin: 0;
    position: absolute;
    z-index: 10;
    color: #FFFFFF;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #e45456;
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 20px;
    white-space: nowrap;
    font-weight: normal;
    width: 100%;
    text-align: center;
}

.cat-product img {
    -webkit-transition: 0.5s ease 0s;
    -moz-transition: 0.5s ease 0s;
    -ms-transition: 0.5s ease 0s;
    -o-transition: 0.5s ease 0s;
    transition: 0.5s ease 0s;
    width: 100%;
}

.cat-product:hover .h2-cat,
.cat-product:focus .h2-cat {
    background: #f42930;
}

.cat-product:hover img,
.cat-product:focus img {
    transform: scale(1.1);
}

.cat-product {
    overflow: hidden;
}

.left-about {
    padding-left: 40px;
    padding-right: 40px;
}

.btn-primary {
    color: #212529;
    background-color: #e64c4e;
    border-color: #e64c4e;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ef080e;
    border-color: #ef080e;
}

.date {
    color: #666666;
}

#partner.owl-carousel .owl-stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.h3-cat {
    font-size: 18px;
    font-weight: 400;
    -webkit-transition: .5s ease 0s;
    -moz-transition: .5s ease 0s;
    -ms-transition: .5s ease 0s;
    -o-transition: .5s ease 0s;
    transition: .5s ease 0s;
}
.h3-cat:hover,
.h3-cat:focus{
    font-size: 17px;
}
.text-pri{
    color: #008868;
}
.icon-menu{
    font-size: 26px;
}
.icon-menu:hover,
.icon-menu:focus{
    color: #008868;
    font-size: 28px;
}
.icon-menu::before {
    content: "\f0c9";
    font-family: FontAwesome, sans-serif;
}
.form-search {
    position: relative;
}
.search-field {
    width: 100%;
    border: none;
    padding: 8px 10px;
    border-radius: 30px;
    -webkit-transition: all 2.5s ease-in-out;
    transition: all .25s ease-in-out;
    border: 1px solid #444444;
    font-size: 13px;
    padding-right: 35px;
}
.search-field::placeholder {
    opacity: 1;
}
.search-submit {
    border: 0;
    background: transparent;
    color: #e45456;
    font-weight: 500;
    padding: 10px 10px;
    border-radius: 0 30px 30px 0;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}
#callnow {
    position: fixed;
    z-index: 100 !important;
    cursor: pointer;
    left: 5px;
    bottom: 10px;
}
#callnow a {
    color: #fff;
    background: #cd4051;
    line-height: 45px;
    border-radius: 45px;
    display: inline-block;
    padding: 0 20px 0 52px;
    font-size: 18px;
}
#callnow a::before {
    font-family: FontAwesome;
    content: "\f095";
    position: absolute;
    left: 0;
    font-size: 23px;
    line-height: 45px;
    background: #d1021c;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    text-align: center;
    color: #fff;
}
.price{
    font-size: 18px;
}
.add-shopcart{
    display: inline-block;
    background: #e45456;
    padding: 4px 15px;
    font-size: 14px;
    color:#ffffff;
    border-radius: 4px;
}
.add-shopcart:hover,
.add-shopcart:focus{
    background: #f42930;
    color: #ffffff;
}
.owl-small.owl-carousel .owl-item img{
    height: 120px;
    object-fit: cover;
}
#news-index.owl-carousel .owl-item img{
    object-fit: cover;
}
.owl-small.owl-theme .owl-prev{
    left: -30px;
}
.owl-small.owl-theme .owl-next{
    right: -30px;
}
.owl-small.owl-theme .owl-prev, .owl-small.owl-theme .owl-next{
    top: 60px;
    height: 28px;
    width: 28px;
    line-height: 28px;
    text-align: center;
    margin: 0;
    border-radius: 3px;
}

#news-index.owl-carousel .owl-item img,
#cat-by-meta.owl-carousel .owl-item img{
    height: 240px;
}
#header-nav{
    order: 2;
}
#header-logo{
    order: 1;
}
#header-search{
    order: 3;
}
.site-navigation{
    text-align: right;
}
.search_button{
    display: none;
}
.bg-grey{
    background:  #f9f9f9;
    padding: 30px 0;
}
.h3-service{
    font-size: 18px;
    margin: 0;
}

.h3-service:hover,
.h3-service:focus{
    font-size: 17px;
}

.h3-news:hover,
.h3-news:focus{
    font-size: 20px;
}
.box-service ul{
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}
.box-service li{
    position: relative;
    padding-left: 25px;
}
.box-service li:before{
    content: "\f00c";
    font-family: FontAwesome, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    color: #008868 ;
}
.box-service img{
    width: 100px;
}
.box-service{
    padding: 40px 0;
}

.support_footer .popup_footer_content a {
    background:#fff;
    font-size:15px ;
    padding:15px 0 ;
    margin:4px 0;
    border-radius:6px;
    border:1px solid #eaeaea;
    color:#333 ;
    z-index:9999 ;
    text-transform: uppercase;
}
.popup_footer_content .closer_popup_footer_suppor {
    color:#fff;
    padding:14px 0;
    display:block;
    cursor:pointer;
    font-size: 16px;
    text-align: center;
}

.popup_footer_content.xem_nhanh.opent.support_xem_nhanh {
    position:absolute;
    bottom:48px;
    top:auto;
    right:0;
    width:auto;
    left:auto;
    background:#fff;
}
.popup_footer_content.xem_nhanh.opent.support_xem_nhanh .closer_popup_footer_suppor {
    padding:8px 0;
    border-radius:4px 4px 0 0;
}
.popup_footer_content.xem_nhanh.opent.support_xem_nhanh a {
    margin:0;
    border-width:0 0 1px 0;
    border-radius:0;
    padding:8px 15px 7px !important;
    color:#298AD6 !important;
    text-align:left;
    border-left:1px solid #eaeaea;
}
.hidden {
    display: none;
}
.main-content{
    padding: 30px 0 40px 0;
}
.col-product{
    margin-bottom: 30px;
}
.enuy p {
    margin-bottom: 0;
    text-align: right;
    clear: both;
}
.enuy p strong{
    float: left;
}
.enuy p{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 8px;
    margin-bottom: 8px;

}
.enuy{
    margin-bottom: 8px;
}
#chontype{
    display: inline-block;
    width: 160px;
    margin-right: 10px;
}
.add-shopcart-detail{
    display: inline-block;
    padding: 6px 20px;
    color: #e45456 !important;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    background: none;
    cursor: pointer;
}
.add-shopcart-detail span{
    text-decoration: underline;
}
.add-shopcart-detail:hover,
.add-shopcart-detail:focus{
    color: #01a57c;
}
.image-additional {
    height: 65px;
    overflow: hidden;
}
.image-additional img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 3px;
    border: 1px solid #ddd;
}
#additional-carousel .owl-nav .owl-prev,
#additional-carousel .owl-nav .owl-next {
    top: 12px;
    background: none;
    color: #e45456;
    margin: 0;
    padding: 0;
}
#additional-carousel .owl-nav .owl-prev span,
#additional-carousel .owl-nav .owl-next span{
    font-size: 35px !important;
}
#additional-carousel .owl-nav .owl-prev {
    left: 0;
}
#additional-carousel .owl-nav .owl-next {
    right: 0;
}
#additional-carousel .owl-nav .owl-prev::after {
    border-style: solid none none solid;
    border-width: 2px medium medium 2px;
    right: 0;
}
#additional-carousel .owl-nav .owl-next::after,
#additional-carousel .owl-nav .owl-prev::after {
    border-color: #999;
    width: 14px;
    height: 14px;
}
.pro-image{
    margin-bottom: 6px;
}
.h3-similar{
    font-size: 22px;
    position: relative;
    padding-bottom: 10px;
    font-weight: 400;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;

}
.h3-similar span{
    display: inline-block;
    border-bottom: 2px solid #008868;
    padding-bottom: 4px;
}
#partner p{
    height: 50px;
    overflow: hidden;
    margin-bottom: 0;
}
#partner p img{
    height: 100%;
    object-fit: contain;
    -webkit-transition: .5s ease 0s;
    -moz-transition: .5s ease 0s;
    -ms-transition: .5s ease 0s;
    -o-transition: .5s ease 0s;
    transition: .5s ease 0s;
}
#partner p{
    padding: 8px;
}
#partner p:hover img{
    transform: scale(1.1);
}
#partner p +p{
    margin-top: 30px;
}
.img-cat-small{
    float: left;
    width: 100px;
    border-radius: 5px;
    margin-right: 15px;
}
.note{
    margin-top: 30px;
}
.form-book{
    padding-top:7px;
    text-align: center;
}
.view-detail{
    text-decoration: underline;
    font-size: 15px;
    color:#e45456
}
.view-detail:hover,
.view-detail:focus{
    text-decoration: underline;
    font-size: 16px;
}
.left-news-list img{
    height: 180px;
    object-fit: cover;
    width: 100%;
}
.h3-news{
    font-weight: 600;
    font-size: 19px;
}
.item-news + .item-news{
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid #dddddd;
}
.text-black:hover,
.text-black:focus{
    color: #01a57c !important;
}
.ul-right{
    margin: 0;
    padding: 0;
    list-style: none;
}
.ul-right li{
    padding: 2px 0 2px 20px;
    position: relative;
}
.ul-right li:after{
    content: "\f0a9";
    font-family: FontAwesome, sans-serif;
    color: #01a57c;
    position: absolute;
    top: 3px;
    left: 0;
}
.similars{
    margin-top: 30px;
}
.item-service + .item-service{
    margin-top: 30px;
}
.modal-lg{
    max-width: 90%;
    margin: auto;
}
#kieuMoc{
    cursor: pointer;
    display: block;
}
#myModalM .modal-header .close{

}
#type-mb{
    display: none;
}
#product-types .owl-prev,
#product-types .owl-next{
    top: 35%;
    width: 30px;
    height: 30px;
    margin: 0;
}
#product-types .owl-next{
    right: -15px
}
#product-types .owl-prev{
    left: -15px;
}

#cart > .btn:hover, #cart.active > .btn {
    background-color: transparent;
    color: #888;
    background-position: 0 -344px;
}
.table-cart {
    width: 100%;
    margin-bottom: 20px;
}
.table-cart th:first-child, .table-cart td:first-child {
    text-align: left;
}
.table-cart th, .table-cart td {
    border: solid 1px #e1e1e1;
    padding: 10px;
    text-align: center;
}
.table-cart th {
    background: #f1f1f1;
    font-weight: 600;
}
.table-cart .img {
    width: 80px;
    display: block;
    position: relative;
    float: left;
}
.table-cart .img img, .info-box .ct table .img img {
    width: 100%;
}
.table-cart .title .smooth{
    font-weight: 600;
    display: block;
}
.table-cart .title {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 400;
}

.smooth {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.input-group-btn button{
    border-radius: 0;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    padding: 0;
    display: inline-block;
}
.quantity{
    height: 35px;
    line-height: 35px;
    width: 70px !important;
    max-width: 70px !important;
    padding: 0;
    text-align: center;
    display: block;
    margin: auto;
}
.total .total-item big, .pay-total .total-item big {
    font-size: 16px;
}
.total big {
    font-size: 20px;
    color: #d12222;
}
.remove-shop{
    color: red
}
.visible-xs{
    display: none;
}
#product-similar.owl-theme .owl-prev{
    left: -15px;
}
#product-similar.owl-theme .owl-next{
    right: -15px;
}

#frm-header-search{
    position: absolute;
    right: 15px;
    top: 20px;
    display: none;
}
.btn-checkout{
    padding: 5px 10px;
    margin-bottom: 5px;
}
.btn-success.btn-checkout:hover,
.btn-success.btn-checkout:focus{
    background: #e20606;
    border-color: #e20606
}
.btn-success.btn-checkout{
    background: #e45456;
    border-color: #e45456
}
.btn-secondary.btn-checkout:hover,
.btn-secondary.btn-checkout:focus{
    background: #01a57c;
    border-color: #01a57c
}
.btn-secondary.btn-checkout{
    background: #008868;
    border-color: #008868
}
.pay-ctrl{
    font-size: 12px;
}
.page-item.active .page-link{
    background-color: #008868;
    border-color: #008868;
}
.page-link{
    color: #008868;
}
.page-link:hover{
    color: #008868;
}
.dl-horizontal{
    margin:0;
    padding: 7px 0;
    border-top: 1px solid #dddddd;
}
.dl-horizontal dt{
    float: left;
    width: 120px;
    font-weight: 400;
}
.dl-horizontal dd{
    overflow: hidden;
    margin-bottom: 0;
    text-align: right;
}
#chontype{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.fwb{
    border: 1px solid #dddddd;
    display: inline-block;
    padding: 5px 5px;
    background: #f1f1f1;
    text-align: center;
    width: 150px;
}
.fwb strong{
    font-weight: normal;
    float: none !important;
}
.fwb i{
    color: #d22238
}
.socials-list {
    padding: 0;
    margin: 0;
}
.socials-list li a {
    font-size: 0;
    display: block;
    background: #ffffff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
}
.socials-list li a span {
    font-size: 20px;
    color: #008868;
    display: inline-block;
    padding-top: 10px;
}
.socials-list li a:hover span{
    color: #e45456;
}
.socials-list li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    margin-top: 0 !important;
}
#footer ul{
    margin-bottom: 0;
}
.copyright{
    padding-top: 40px;
}
.flex-cart .title p{
    margin-bottom: 0;
}
.h1-detail-product{
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 8px;
}
.close{
    font-size: 16px;
    color:#e45456;
    opacity: 1;
    font-weight: 400;
}
.modal-title{
    line-height: 1;
}
div.div_facebook {
    float: left;
}
div.div_tweet {
    float: left;
    margin-top: 4px;
    margin-left: 3px;
}
.div_social{
    float: right;
}

.sidebar-box ul a:hover,
.sidebar-box ul a:focus{
    font-size: 17px;
}
.a-similar:hover,
.a-similar:focus{
    font-size: 17px;
}
.font-weight-bold {
    font-weight: 600 !important;
}
.site-navbar .site-navigation .site-menu > li > a:hover,
.site-navbar .site-navigation .site-menu > li > a:focus{
    color: #01a57c !important;
}
