@font-face {
    font-family: 'yoriver';
    src: url(../fonts/yoriver.ttf?f3xybn) format('truetype'), url(../fonts/yoriver.woff?f3xybn) format('woff'), url(../fonts/yoriver.svg?f3xybn#yoriver) format('svg');
    font-weight: 400;
    font-style: normal
}

.yoriver {
    font-family: 'yoriver' !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-setting:before {
    content: "\e922"
}

.icon-arrow-weight:before {
    content: "\e921"
}

.icon-arrow-up:before {
    content: "\e91f"
}

.icon-arrow-left:before {
    content: "\e91d"
}

.icon-arrow-right:before {
    content: "\e91e"
}

.icon-arrow-down:before {
    content: "\e91c"
}

.icon-eye:before {
    content: "\e901"
}

.icon-bar:before {
    content: "\e902"
}

.icon-search:before {
    content: "\e903"
}

.icon-protect:before {
    content: "\e904"
}

.icon-location:before {
    content: "\e905"
}

.icon-box:before {
    content: "\e906"
}

.icon-star:before {
    content: "\e907"
}

.icon-email:before {
    content: "\e908"
}

.icon-minus:before {
    content: "\e909"
}

.icon-heart:before {
    content: "\e90a"
}

.icon-email-2:before {
    content: "\e90b"
}

.icon-heart-2:before {
    content: "\e90c"
}

.icon-close:before {
    content: "\e90d"
}

.icon-diamond:before {
    content: "\e90e"
}

.icon-arrow:before {
    content: "\e90f"
}

.icon-payment:before {
    content: "\e910"
}

.icon-phone:before {
    content: "\e911"
}

.icon-plus:before {
    content: "\e912"
}

.icon-list:before {
    content: "\e913"
}

.icon-star-2:before {
    content: "\e914"
}

.icon-grid:before {
    content: "\e915"
}

.icon-comment:before {
    content: "\e916"
}

.icon-cart:before {
    content: "\e917"
}

.icon-payment-2:before {
    content: "\e918"
}

.icon-user:before {
    content: "\e919"
}

.icon-protect-2:before {
    content: "\e91a"
}

.icon-truck:before {
    content: "\e91b"
}

.icon-phone-2:before {
    content: "\e900"
}

.icon-home:before {
    content: "\e920"
}

.icon-database:before {
    content: "\e964"
}

.icon-spinner6:before {
    content: "\e97f"
}

.icon-spinner9:before {
    content: "\e982"
}

.icon-spinner10:before {
    content: "\e983"
}

.icon-unlocked:before {
    content: "\e990"
}

.icon-checkmark:before {
    content: "\ea10"
}

.icon-loop2:before {
    content: "\ea2e"
}

.icon-shuffle:before {
    content: "\ea30"
}

.icon-arrow-right2:before {
    content: "\ea3c"
}

.icon-checkbox-checked:before {
    content: "\ea52"
}

.icon-paragraph-center:before {
    content: "\ea78"
}
